The number is <%= @result_string %>

<hr/>

<form action="/answers" method="get">
  <label for="user_name_id">User Name:</label>
  <label type="text" id="user_name_id" name="user_name"></label>
  </br>
  <label for="number_id">Number</label>
  <input type="number" id="number_id">
